*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar{
  display: flex;
  justify-content: space-between;
  background-color: rgb(32, 101, 206);
  padding: 20px;
  color: white;
}

.left{
  display: flex;
  gap: 15px;
}

ul{
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  color: white;
}

h1{
  font-size: 25px;
}

li{
  list-style-type: none;
  font-size: 18px;
  color: white;
}

li:active{
  text-decoration: underline;
  color: white;
}

li:hover{
  text-decoration: underline;
  color: rgb(154, 226, 255);
}

.Category_box{
  padding: 30px;
}
.book_category {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
  gap: 30px; 
  justify-content: center; 
  align-items: center;
  color: gray;
  padding: 20px;
}

.popular_book, .book-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px; 
  justify-content: center;  
}

.book-list{
  margin: 60px;
}


.category_flex{
  display: flex;
  padding: 30px 50px ;
  justify-content: space-between;
  background-color: #7bb9ff;
  color: white;
}

.search, .select{
  display: flex;
  gap:20px;
}

input{
  width: 400px;
  padding: 5px 5px ;

}

select{
  width: 200px;
  padding: 5px 5px ;
}

.search p, .select p{
  font-size: 20px;
}

.Category_box, .popular_box{
  padding: 20px;
  margin: 20px;
}

.Category_box h2, .popular_box h2, .list-box h2{
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  color: rgb(32, 101, 206);
}

.list-box h2{
  margin: 30px;
}

.genre_button{
  width: 150px;
  padding: 10px;
  background-color: white;
  border: 1px solid gray;
}

.genre_button:hover{
  background-color: rgb(32, 101, 206);
  border: 1px solid rgb(32, 101, 206);
  color: white;
}


.book{
  background-color: rgb(255, 255, 255);
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
}

.book img{
  margin-bottom: 10px;
}

.book p{
  margin-bottom: 15px;
  font-size: 18px;
}

.book button{
  margin-bottom: 10px;
  width: 150px;
  padding: 10px;
  background-color: #2065ce;
  border: 2px solid rgb(32, 101, 206);
  color: white;
}

.view_button:hover{
     background-color: rgb(115, 173, 22);
     border-color: rgb(115, 173, 22);
}
