.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    justify-content: center;
}

.book-list {
    margin: 48px;
}

.category_flex {
    display: flex;
    padding: 20px 48px;
    justify-content: space-between;
    color: var(--primary-color);
}

.search input,
.select select {
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    outline: none;
}

.search,
.select {
    display: flex;
    align-items: center;
    gap: 20px;
}

select {
    width: 200px;
    padding: 5px 5px;
}

.search p,
.select p {
    font-size: 20px;
}

.list-box h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    color: var(--primary-color);
}

.list-box h2 {
    margin: 30px;
}