.popular_book {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    justify-content: center;
}

.popular_box {
    padding: 20px;
    margin: 20px;
}

.popular_box h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    color: rgb(32, 101, 206);
}

.view_button:hover {
    background-color: rgb(115, 173, 22);
    border-color: rgb(115, 173, 22);
}

.book {
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}

.book img {
    margin-bottom: 10px;
}

.book p {
    margin-bottom: 15px;
    font-size: 18px;
}

.book button {
    margin-bottom: 10px;
    width: 150px;
    padding: 10px;
    background-color: #2065ce;
    border: 2px solid rgb(32, 101, 206);
    color: white;
}

.book_author {
    margin: 10px 2px;
    color: #ce4320;
    font-size: 100px;
}

.book_text h2 {
    font-size: 38px;
}

.book_text p {
    margin: 5px 0px;
}