:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: rgb(32, 101, 206);
  --primary-text: white;
}

button {
  padding: 12px 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
  background-color: var(--primary-color);
  color: white;
}

button:hover {
  background-color: rgb(53, 121, 226);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--primary-text);
    background-color: var(--primary-color);
  }
}